<IfModule mod_rewrite.c>
RewriteEngine on


RewriteRule ^perfil/([^/]+)/?$ perfil.php?usuario=$1 
RewriteRule ^dispositivos/([^/]+)/?$ dispositivos.php?usuario=$1 
RewriteRule ^recomendaciones/([^/]+)/?$ recomendaciones.php?usuario=$1 
RewriteRule ^contactos/([^/]+)/?$ contactos.php?usuario=$1 
RewriteRule ^ficha_disp/([^/]+)/?$ ficha_disp.php?disp=$1 

RewriteRule ^gestion/([^/]+)/?$ admin-gestion-$1.php [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php 
</IfModule>
<Files "*.js">
    ForceType text/javascript
</Files>
<IfModule mod_mime.c>
    AddType application/javascript js mjs ts
</IfModule>
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^usuarios/$ admin.gestion-usuarios.php [L]
</IfModule>

